@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-icon {
        @apply w-5 h-5 cursor-pointer
    }

    .nav-icon {
        @apply w-5 h-5 cursor-pointer
    }

    .invest-icon {
        @apply w-6 h-6 stroke-gray-600
    }
}

:root {
    --font: font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7EDDB;
}